@charset "UTF-8";
@font-face {
  font-family: "Bandeins-Strange";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/61488/BandeinsStrangeVariableGX.ttf") format("truetype");
  font-stretch: 100% 800%;
  font-weight: 200 800;
  font-display: block;
}
:root {
  --grey: #5e5d5e;
  --mid-grey: #3f3f3f;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  font-family: "Bandeins-Strange";
  color: white;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-size: 50px 50px;
  background-position: center;
  background-image: linear-gradient(to right, var(--mid-grey) 1px, transparent 1px), linear-gradient(to bottom, var(--mid-grey) 1px, transparent 1px);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 900px;
}

.hi,
.info,
.portfolio,
.contact {
  position: relative;
  z-index: 1;
  font-size: 100px;
  font-stretch: 400%;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  transform-style: preserve-3d;
}

.info,
.contact {
  bottom: 28%;
  font-size: 400%;
}

.portfolio {
  bottom: 33%;
  font-size: 400%;
}

.hi__cuboid {
  position: relative;
  width: 500px;
  height: 70px;
  transform-style: preserve-3d;
  margin: 30px 0;
}
.hi__cuboid .face {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
}
.hi__cuboid .face--front {
  width: 500px;
  height: 70px;
  transform: translateZ(calc(70px / 2));
}
.hi__cuboid .face--back {
  width: 500px;
  height: 70px;
  transform: translateZ(calc(70px / 2 * -1)) rotateY(180deg) rotate(180deg);
}
.hi__cuboid .face--left {
  width: 70px;
  height: 70px;
  transform: translateX(calc(70px / 2 * -1)) rotateY(-90deg);
}
.hi__cuboid .face--right {
  width: 70px;
  height: 70px;
  transform: translateX(calc(500px - 70px / 2)) rotateY(90deg);
}
.hi__cuboid .face--top {
  width: 500px;
  height: 70px;
  transform: translateY(calc(70px / 2 * -1)) rotateX(90deg);
}
.hi__cuboid .face--bottom {
  width: 500px;
  height: 70px;
  transform: translateY(calc(70px - 70px / 2)) rotateX(-90deg);
}

.info__cuboid,
.contact__cuboid {
  position: relative;
  width: 500px;
  height: 60px;
  transform-style: preserve-3d;
  margin: 30px 0;
}
.info__cuboid .face,
.contact__cuboid .face {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
}
.info__cuboid .face--front,
.contact__cuboid .face--front {
  width: 500px;
  height: 60px;
  transform: translateZ(calc(60px / 2));
}
.info__cuboid .face--back,
.contact__cuboid .face--back {
  width: 500px;
  height: 60px;
  transform: translateZ(calc(60px / 2 * -1)) rotateY(180deg) rotate(180deg);
}
.info__cuboid .face--left,
.contact__cuboid .face--left {
  width: 60px;
  height: 60px;
  transform: translateX(calc(60px / 2 * -1)) rotateY(-90deg);
}
.info__cuboid .face--right,
.contact__cuboid .face--right {
  width: 60px;
  height: 60px;
  transform: translateX(calc(500px - 60px / 2)) rotateY(90deg);
}
.info__cuboid .face--top,
.contact__cuboid .face--top {
  width: 500px;
  height: 60px;
  transform: translateY(calc(60px / 2 * -1)) rotateX(90deg);
}
.info__cuboid .face--bottom,
.contact__cuboid .face--bottom {
  width: 500px;
  height: 60px;
  transform: translateY(calc(60px - 60px / 2)) rotateX(-90deg);
}

.portfolio__cuboid {
  position: relative;
  width: 600px;
  height: 60px;
  transform-style: preserve-3d;
  margin: 30px 0;
}
.portfolio__cuboid .face {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
}
.portfolio__cuboid .face--front {
  width: 600px;
  height: 60px;
  transform: translateZ(calc(60px / 2));
}
.portfolio__cuboid .face--back {
  width: 600px;
  height: 60px;
  transform: translateZ(calc(60px / 2 * -1)) rotateY(180deg) rotate(180deg);
}
.portfolio__cuboid .face--left {
  width: 60px;
  height: 60px;
  transform: translateX(calc(60px / 2 * -1)) rotateY(-90deg);
}
.portfolio__cuboid .face--right {
  width: 60px;
  height: 60px;
  transform: translateX(calc(600px - 60px / 2)) rotateY(90deg);
}
.portfolio__cuboid .face--top {
  width: 600px;
  height: 60px;
  transform: translateY(calc(60px / 2 * -1)) rotateX(90deg);
}
.portfolio__cuboid .face--bottom {
  width: 600px;
  height: 60px;
  transform: translateY(calc(60px - 60px / 2)) rotateX(-90deg);
}

.face {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.face.face--top, .face.face--bottom {
  background: white;
  color: black;
}

.hi__word {
  margin: 0;
  transform: translateY(-5px);
}

.hi__base,
.info__base,
.portfolio__base,
.contact__base {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 250px;
}

.info__base,
.contact__base {
  position: absolute;
  width: 950px;
  height: 550px;
}

.portfolio__base {
  position: absolute;
  width: 1350px;
  height: 650px;
}

.hi__base-plate,
.info__base-plate,
.portfolio__base-plate,
.contact__base-plate {
  width: 100%;
  height: 100%;
  background: black;
  border: 1px solid var(--grey);
}

.portfolio__base-plate {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.hi__location {
  position: absolute;
  margin: 0;
  font-size: 20px;
  font-stretch: 400%;
  font-weight: 400;
}

.hi__location--lat {
  top: 50%;
  left: 0vw;
  transform: rotate(-90deg) translateX(10px);
}

.hi__location--long {
  top: 50%;
  right: 0vw;
  transform: rotate(90deg) translateX(-10px);
}

.info__1depth {
  position: relative;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  font-family: "Pretendard";
  top: 15%;
  left: 20%;
  margin-top: 30px;
}
.info__1depth h4 {
  margin-bottom: 10px;
}
.info__1depth .info__2depth {
  font-weight: 200;
  font-size: 19px;
}
.info__1depth .info__2depth li {
  margin-bottom: 5px;
}

.portfolio__base-plate .img__cover {
  position: relative;
  width: 58%;
  height: 70%;
  top: 5%;
}
.portfolio__base-plate .img__cover a .img_bg {
  background: url("../../images/wooribank_cover.png") no-repeat 50% 0;
  background-size: cover;
  display: block;
  height: 100%;
}
.portfolio__base-plate .img__cover a .img_bg2 {
  background: url("../../images/lamer_cover.png") no-repeat 50% 0;
  background-size: cover;
  display: block;
  height: 100%;
}
.portfolio__base-plate .img__cover a .img_bg3 {
  background: url("../../images/3d_cover.png") no-repeat 50% 0;
  background-size: cover;
  display: block;
  height: 100%;
}
.portfolio__base-plate .img__cover a .img_bg4 {
  background: url("../../images/mes_cover.png") no-repeat 50% 0;
  background-size: cover;
  display: block;
  height: 100%;
}
.portfolio__base-plate .img__cover a .img_bg5 {
  background: url("../../images/loms_cover.png") no-repeat 50% 0;
  background-size: cover;
  display: block;
  height: 100%;
}
.portfolio__base-plate .img__desc {
  width: 28%;
  font-family: "Pretendard";
  margin-top: 16%;
}
.portfolio__base-plate .img__desc img {
  width: 30%;
}
.portfolio__base-plate .img__desc h4 {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0;
}
.portfolio__base-plate .img__desc .portfolio__1depth {
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
}
.portfolio__base-plate .img__desc .portfolio__1depth .portfolio__2depth {
  font-weight: 200;
  font-size: 19px;
}
.portfolio__base-plate .img__desc .portfolio__1depth .portfolio__2depth li {
  margin: 5px 0;
}
.portfolio__base-plate .img__desc .link_btn {
  margin-top: 40px;
}
.portfolio__base-plate .img__desc .link_btn a {
  padding: 8px 8px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}
.portfolio__base-plate .img__desc_h {
  width: 28%;
  font-family: "Pretendard";
  margin-top: 23%;
}
.portfolio__base-plate .img__desc_h img {
  width: 30%;
}
.portfolio__base-plate .img__desc_h h4 {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0;
}
.portfolio__base-plate .img__desc_h .portfolio__1depth {
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
}
.portfolio__base-plate .img__desc_h .portfolio__1depth .portfolio__2depth {
  font-weight: 200;
  font-size: 19px;
}
.portfolio__base-plate .img__desc_h .portfolio__1depth .portfolio__2depth li {
  margin: 5px 0;
}
.portfolio__base-plate .img__desc_h .link_btn {
  margin-top: 40px;
}
.portfolio__base-plate .img__desc_h .link_btn a {
  padding: 8px 8px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.contact__form {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  font-family: "Pretendard";
  top: 18%;
  flex-direction: column;
  align-items: center;
}
.contact__form form {
  text-align: center;
}
.contact__form form input {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #000;
  color: #f5f5f5;
  width: 70%;
  height: 50px;
  margin: 5px 0;
  font-size: 17px;
  font-family: "Pretendard";
}
.contact__form form #message {
  height: 200px;
}

.contact__1depth {
  position: absolute;
  font-size: 25px;
  top: 25%;
  left: 26.5%;
}
.contact__1depth li {
  margin-bottom: 30px;
  font-family: "Pretendard";
}
.contact__1depth li a {
  text-decoration: none;
  color: #fff;
}

.contact__base-plate span {
  position: absolute;
  top: 93%;
  left: 39%;
}

.collection {
  position: fixed;
  z-index: 1000;
  top: 24px;
  right: 24px;
  display: flex;
  flex-direction: column;
}

.collection__link {
  position: relative;
  margin-bottom: 16px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.collection__link span {
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 1px;
  width: 10%;
  background-color: white;
  content: "";
  transition: width 0.3s;
}
.collection__link:hover {
  text-decoration: none;
}
.collection__link:hover span {
  width: 100%;
}